.header {
    line-height: 1.5;
    font-size: 24px;
}
.header span {
    display: block;
}
.form {
    border: 5px solid #2727d9;
    padding: 35px 20px;
}
.form-header {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px;
}
.form btn {
    margin: 10px auto;
}
.form input {
    margin-bottom: 12px;
}
.form p {
    margin-bottom: 35px;
}
.section-header {
    font-size: 24px;
    font-weight: 900;
}
.feature {
     margin: 60px auto;   
}
.feature p {
    margin-top: 20px;
}
.feature-box {
    height: 160px;
}
.btn-bottom {
    margin-bottom: 100px;
}
.photo {
    margin: 50px auto;
}
.photo-block {
    margin-bottom: 100px;
}
.h2 {
    font-weight: 500;
}
.s-2 {
    margin-top: 100px;
}
.m-2 {
    margin: 50px auto;
}